# Python for Data Analysis
    
    AUTHOR: Dr. Wes McKinney

# Practice Code

## Interacting with databases

In [5]:
import sqlite3
import pandas as pd

### Create SQLite3 database

In [6]:
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""

In [7]:
con = sqlite3.connect("mydata.sqlite")

In [8]:
con.execute(query)

OperationalError: table test already exists

In [9]:
con.commit()

#### Insert Data

In [10]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = 'INSERT INTO test VALUES(?, ?, ?, ?)'

In [11]:
con.executemany(stmt, data)

In [12]:
con.commit()

#### Query data

In [13]:
cursor = con.execute('SELECT * FROM test')
rows=cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5),
 ('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5),
 ('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [14]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

#### Create dataframe from query

In [15]:
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5
3      Atlanta     Georgia  1.25  6
4  Tallahassee     Florida  2.60  3
5   Sacramento  California  1.70  5
6      Atlanta     Georgia  1.25  6
7  Tallahassee     Florida  2.60  3
8   Sacramento  California  1.70  5

### Create SQLAlchemy database

In [1]:
import sqlalchemy as sqla

In [16]:
db = sqla.create_engine("sqlite:///mydata.sqlite")

In [17]:
pd.read_sql("SELECT * FROM test", db)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5
3      Atlanta     Georgia  1.25  6
4  Tallahassee     Florida  2.60  3
5   Sacramento  California  1.70  5
6      Atlanta     Georgia  1.25  6
7  Tallahassee     Florida  2.60  3
8   Sacramento  California  1.70  5

# Chapter 6: Data Loading, Storage, And File Formats
## **6.4 Interacting with Databases**

In [29]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [30]:
import os
DIR = "/content/drive/MyDrive/Colab Notebooks/MNA/TC4029 - Ciencia y anal√≠tica de datos/Semana 3/Data-Analysis_Interacting_with_BD"
os.chdir(DIR)

In [38]:
import sqlite3

query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""

con = sqlite3.connect('mydata.sqlite')
con.execute(query)
con.commit()

In [39]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = 'INSERT INTO test VALUES(?, ?, ?, ?)'

con.executemany(stmt, data)
con.commit()

In [40]:
cursor = con.execute('SELECT * FROM test')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [41]:
import pandas as pd
cursor.description
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [42]:
import sqlalchemy as sqla

db = sqla.create_engine('sqlite:///mydata.sqlite')
conn = db.connect()

query = sqla.text('SELECT * FROM test')
pd.read_sql(query, conn)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [36]:
!rm mydata.sqlite